:root {
  --black: #000;
  --white: #fff;

  --primary: #fbfbfb;
  --secondary: #090909;
  --accent: #bca480;

  --horizontal-padding: 24px;

  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 32px;
  --fs-xl: 124px;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../assets/font/NeueHaas/NeueHaasDisplay-Roman.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Neue Haas", sans-serif;
  line-height: 94%;
  letter-spacing: 0px;
  text-decoration: none;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  cursor: pointer;
}

/* NAVBAR */
nav {
  align-items: center;
  display: flex;
  font: var(--fs-md) sans-serif;
  height: 6vh;
  justify-content: space-between;
  position: sticky;
  top: 0;

  z-index: 99;
}

nav img {
  height: 24px;
}

nav .nav-separator {
  padding: 0 calc(var(--horizontal-padding) / 2);
}

#navBrand {
  display: flex;
  align-items: center;
}

#overlayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 111;
  display: none;
  justify-content: start;
  align-items: center;
  padding: var(--horizontal-padding);
}

#overlayMenu .links .menu-link {
  font-size: var(--fs-xl);
  margin: var(--horizontal-padding) 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#overlayMenu .links .menu-link::before {
  content: "";
  width: 100px;
  transform: scaleX(0);
  height: 2px;
  background-color: var(--secondary);
  transform-origin: center start;
  transition: transform 0.5s ease-in-out;
}

#overlayMenu .links .menu-link:hover::before {
  transform: scaleX(1);
}

#jm {
  display: none;
}

#jackmarelli {
  display: inline;
}

/* FOLD */
#fold {
  display: flex;
  flex-flow: column nowrap;
  height: 94vh;
  justify-content: space-between;
}

#fold-bottom {
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-padding) 0;
}

#fold-about {
  font-size: var(--fs-lg);
  max-width: 1200px;
}

#ied {
  font-size: var(--fs-sm);
  margin: var(--horizontal-padding) 0 0 0;
}

#my-pic img {
  min-width: 220px;
  min-height: 220px;
  width: 10vh;
  height: 10vh;

  margin: 0 0 0 var(--horizontal-padding);
  object-fit: cover;
  object-position: top;
}

#my-pic img:hover {
  animation: shake 0.4s infinite;
}

#hello {
  padding: 1rem 0 0 0;
  font-size: var(--fs-xl);
}

/* CONTACTS */
#contacts {
  background-color: var(--secondary);
}

#contacts h2 {
  padding: 2em 0 0 0;
}

.big {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
}

.big .big-contact {
  font-size: 7vw;
  position: relative;
}

.link-decor {
  background-image: url("../assets/images/elements/ellipse.svg");
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: linkdecormove 3s ease-in-out infinite;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding: var(--horizontal-padding) 0;
}

.social-icons .icon {
  margin: 0 var(--horizontal-padding) 0 0;
}

.social-icons .back-to-top {
  font-size: var(--fs-md);
}

/* WORKS */
#works {
  margin: 3em 0 3em 0;
}

#works h2 {
  font-size: xx-large;
  margin: 0 0 1em 0;
}

.work {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  border-bottom: 1px dashed var(--secondary);
}

.work:hover {
  border-bottom: 1px solid var(--secondary);
}

.work .title {
  width: 40%;
}

.work .exp {
  flex-grow: 1;
}

.work .redir {
  height: 40%;
}


/* UTILS */
.inline-contain {
  padding: 0 var(--horizontal-padding);
}

.link-dark {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--secondary);
}

.d-none {
  display: none;
}

.theme-light {
  background-color: var(--primary);
  color: var(--secondary);
}

.theme-dark {
  background-color: var(--secondary);
  color: var(--primary);
}

/* ANIMATIONS */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.theme-light .hover-underline-animation::after {
  background-color: var(--secondary);
}

.theme-dark .hover-underline-animation::after {
  background-color: var(--primary);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes linkdecormove {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) rotate(2deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(-2deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media (max-width: 768px) {
  :root {
    --horizontal-padding: 16px;

    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 54px;
  }

  nav {
    font: var(--fs-md) sans-serif;
  }

  nav img {
    height: 20px;
  }

  #jm {
    display: inline;
  }

  #jackmarelli {
    display: none;
  }

  #fold {
    height: fit-content;
    justify-content: start;
  }

  #hello {
    padding: 0;
  }

  #fold-bottom {
    flex-flow: column-reverse nowrap;
  }

  #my-pic {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  #my-pic img {
    width: 100%;
    height: 50vw;
    margin: 0 0 var(--horizontal-padding) 0;
  }

  /* CONTACTS */
  #contacts h2 {
    font-size: large;
  }

  .big-contact {
    text-decoration: underline double;
  }

  .social-icons * {
    scale: 0.8;
  }

  /* WORKS */
  .work {
    justify-content: space-between;
  }

  .work .title {
    width: 90%;
  }

  .work .exp {
    display: none;
  }

  .seekingImg {
    display: none;
  }
}
