:root {
  --black: #000;
  --white: #fff;

  --primary: #f1f1f1;
  --secondary: #1c1c1c;
  --accent: #b08968;

  --horizontal-padding: 24px;

  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 24px;
  --fs-lg: 48px;
  --fs-xl: 124px;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../assets/font/NeueHaas/NeueHaasDisplay-Roman.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Neue Haas", sans-serif;
  line-height: 94%;
  letter-spacing: 0px;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  cursor: pointer;
}

/* NAVBAR */
nav {
  align-items: center;
  display: flex;
  font: var(--fs-lg) sans-serif;
  height: 6vh;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav img {
  height: 24px;
}

nav .nav-separator {
  padding: 0 calc(var(--horizontal-padding) / 2);
}

#jm {
  display: none;
}

#jackmarelli {
  display: inline;
}

/* FOLD */
#fold {
  display: flex;
  flex-flow: column nowrap;
  height: 94vh;
  justify-content: space-between;
}

#fold-bottom {
  align-items: end;
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-padding) 0;
}

#fold-about {
  font-size: var(--fs-lg);
  max-width: 1200px;
}

#ied {
  font-size: var(--fs-sm);
  margin: var(--horizontal-padding) 0 0 0;
}

#my-pic img {
  height: 320px;
  margin: 0 0 0 var(--horizontal-padding);
  object-fit: cover;
  object-position: top;
  width: 320px;
}

#my-pic img:hover {
  animation: shake .4s infinite ;
}

#hello {
  padding: 1rem 0 0 0;
  font-size: var(--fs-xl);
}

/* WORKS */
#works h2 {
  padding: 20vh 0 0 0;
}

#works > a {
  padding: var(--horizontal-padding) 0 0 0;
  float: right;
  font-size: var(--fs-md);
}

#works ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
}

.works-item {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid var(--black);
  padding: var(--horizontal-padding) 0;
}

.works-item > * {
  width: 50%;
}

.works-item .info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 var(--horizontal-padding) 0 0;
}

.works-item .info .name {
  text-transform: uppercase;
  font-size: var(--fs-xl);
}

.works-item .info .expertiece {
  font-size: var(--fs-md);
}

.works-item > * img {
  width: 100%;
  height: auto;
}

/* CONTACTS */
#contacts {
  height: 100vh;
}

.big {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big .big-contact {
  font-size: 7vw;
  transform: translateY(50%);
  position: relative;
}

.link-decor {
  background-image: url("../assets/images/elements/ellipse.svg");
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: linkdecormove 3s ease-in-out infinite;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding: var(--horizontal-padding) 0;
}

.social-icons .icon {
  margin: 0 var(--horizontal-padding) 0 0;
}

.social-icons .back-to-top {
  font-size: var(--fs-md);
}

/* WORKS */
.workslist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

.workslist .work {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  padding: var(--horizontal-padding) 0;
  border-bottom: 1px solid var(--black);
}

.workslist .work:first-child {
  border-top: 1px solid var(--black);
}

.workslist .work .info {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
}

.workslist .work .info .title {
  font-size: var(--fs-lg);
  margin: 0 0 calc(var(--horizontal-padding) / 2) 0;
}

.workslist .work .info .expertiece {
  font-size: var(--fs-sm);
}

.workslist .images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}

.workslist .images .square {
  height: 12vh;

  aspect-ratio: 1 / 1;
  position: relative; /* If you want text inside of it */
  margin: 0 0 0 var(--horizontal-padding);
}

.workslist .images .square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#works-scroller {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  overflow: auto;
}

#works-scroller .element {
  height: 94vh;
  width: 420px;
  min-width: 320px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;

  border-right: 1px solid var(--black);
}

#works-scroller .element img {
  width: 100%;
  height: auto;
}

#works-scroller h2 {
  padding: 0 0 0 var(--horizontal-padding);
  font-size: var(--fs-lg);

}

#works-scroller p {
  padding: var(--horizontal-padding);
  font-size: var(--fs-sm);
}

/* UTILS */
.inline-contain {
  padding: 0 var(--horizontal-padding);
}

.link-dark {
  text-decoration: none;
  color: var(--secondary);
}

.d-none {
  display: none;
}

/* ANIMATIONS */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--secondary);
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes linkdecormove {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) rotate(2deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(-2deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 768px) {
  :root {
    --horizontal-padding: 16px;

    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 32px;
    --fs-xl: 76px;
  }

  nav {
    font: var(--fs-md) sans-serif;
  }

  nav img {
    height: 20px;
  }

  #jm {
    display: inline;
  }

  #jackmarelli {
    display: none;
  }

  #fold {
    height: fit-content;
    justify-content: start;
  }

  #hello {
    padding: 0;
    font-size: var(--fs-lg);
  }

  #fold-bottom {
    flex-flow: column-reverse nowrap;
  }

  #fold-about {
    font-size: var(--fs-md);
  }

  #my-pic {
    width: 100%;
    object-fit: cover;
  }

  #my-pic img {
    width: 100%;
    height: 60vh;
    margin: 0 0 var(--horizontal-padding) 0;
  }

  .works-item {
    display: flex;
    flex-flow: column nowrap;
  }

  .works-item > * {
    width: 100%;
  }

  .works-item .info > * {
    margin: 0 0 calc(var(--horizontal-padding) / 1.5) 0;
  }

  #contacts {
    height: fit-content;
  }

  .big .big-contact {
    margin: 45vh 0;
  }

  .workslist .work {
    flex-flow: column nowrap;
  }

  .workslist .images .square {
    display: none;
  }

  .social-icons * {
    scale: 0.8;
  }
}
