@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --theme: #fff;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

.all {
    width: 375px;
    height: 812px;
    scale: 0.6;
    border-radius: 32px;
    z-index: 1;
    overflow: hidden;
    background-color: var(--theme);
}

.tendina {
    background-color: var(--theme);
    width: 100%;
    height: 24px;
}

.header {
    width: 100%;
    height: fit-content;
    background-color: var(--theme);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    font-weight: 500;
}

.stats {
    width: 100%;
    height: fit-content;
    background-color: var(--theme);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;
}

.propic {
    width: 100px;
    border-radius: 50%;
}

.stat {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 18px;
    font-weight: 700;
}

.stat p {
    font-size: 12px;
}