*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #333333
}

.grid {
  width: 100%;
  height: fit-content;

  display: grid;
  grid-template-columns:
    [l-gap] 5vw
    [l-col-0] auto
    [l-col-1] auto
    [l-col-2] auto
    [center-l-gap] 2.5vw
    [center-r-gap] 2.5vw
    [r-col-0] auto
    [r-col-1] auto
    [r-col-2] auto
    [r-gap] 5vw;
}

.gcols-full {
  grid-column: l-gap / span 10;
}

.gcols-full-gap {
  grid-column: l-col-0 / span 8;
}

.gcols-l {
  grid-column: l-gap / span 5;
}

.gcols-l-gap {
  grid-column: l-col-0 / span 3;
}

.gcols-r {
  grid-column: center-r-gap / span 5;
}

.gcols-r-gap {
  grid-column: r-col-0 / span 3;
}

.gcols-l-0 {
  grid-column: l-col-0;
}

.gcols-l-1 {
  grid-column: l-col-1;
}

.gcols-l-2 {
  grid-column: l-col-2;
}

.gcols-r-0 {
  grid-column: r-col-0;
}

.gcols-r-1 {
  grid-column: r-col-1;
}

.gcols-r-2 {
  grid-column: r-col-2;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.my-3 {
  margin-block: 3vh;
}

#nav-placeholder {
  height: calc(6vh + max(min(38px, 4vh), 32px));
  background-color: #444;
}

#logo, #btnMenu {
  position: fixed;
  top: 3vh;
}

#logo img, #btnMenu img {
  height: max(min(38px, 4vh), 32px);
  width: auto;
}

#logo {
  left: 5vw;
}

#btnMenu {
  right: 5vw
}

.cursor-pointer {
  cursor: pointer;
}

.height-fit {
  height: fit-content;
}