*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  height: fit-content;

  display: grid;
  grid-template-columns:
    [left-gap] 5vw
    [left-col-0] auto
    [left-col-1] auto
    [left-col-2] auto
    [center-left-gap] 2.5vw
    [center-right-gap] 2.5vw
    [right-col-0] auto
    [right-col-1] auto
    [right-col-2] auto
    [right-gap] 5vw;

  grid-template-rows:
    [top-gap] 5vh
    [nav-placeholder] 60px
    [hero] 80vh
    [salve] 25vh;
}

.gcols-full {
  grid-column: left-gap / span 10;
}

.gcols-full-gap {
  grid-column: left-col-0 / span 8;
}

.grid-testing-element {
  background-color: darkorchid;
}
