@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #303841;
  --secondary: #3A4750;
  --cta: #D72323;
  --gray: #EEEEEE;
  --white: #FFFFFF;
  --black: #000000;
}
::-webkit-scrollbar {
  width: 0%;
}

/* HEADER */
.header {
  background-color: var(--primary);
  width: 100%;
  height: fit-content;
  min-height: 70%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;

  background-image: url("images/undraw_wireframing_re_q6k6.svg");
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: 500px;

}

.header h1, .header h2 {
  margin: 10px 50px;
}

.header h1 {
  height: fit-content;
  font-size: 100px;
  font-family: 'Bebas Neue';
  letter-spacing: .3em;
  text-transform: uppercase;
  color: var(--white);
  text-align: left;
  line-height: 60px;
}

.header h2 {
  font-size: 16px;
  font-family: 'Montserrat';
  letter-spacing: 3px;
  color: var(--gray);
  text-align: left;
  width: 400px;
  max-width: 80%;
}

/* CONTENT */
.content {
  height: fit-content;
  display: flex;
  flex-flow: row wrap;

}

.content section {
  margin: 50px;
  flex-grow: 1;
}

.content section h1 {
  font-family: 'Bebas Neue';
  letter-spacing: .3em;
  text-transform: uppercase;
  color: var(--secondary)
}

.content section p {
  font-family: "Montserrat";
}

/* FOOTER */
.footer {
  background-color: var(--primary);
  width: 100%;
  height: fit-content;

  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
  
.footer section {
  margin: 40px 60px;
  min-width: 240px;
  line-height: 12px;
}

.footer section p, .footer section a {
  font-family: 'Montserrat';
  color: var(--white);
  letter-spacing: 1px;
}

/* MEDIA QUERY */
@media (max-width: 1670px) {
  .header {
    background-size: 400px;
  }
}

@media (max-width: 1500px) {
  .header {
    background-size: 300px;
  }
}

@media (max-width: 1440px) {
  .header {
    background-size: 0;
  }
}

@media (max-width: 1100px) {
  .header h1 {
    font-size: 80px;
  }
  .header {
    height: 60%;
  }
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 60px;
  }
  .header {
    height: 50%;
  }
}

@media (max-width: 330px) {
  .header h1, .header h2 {
    margin: 10px 30px;
  }
  .header h1 {
    font-size: 60px;
    letter-spacing: .1em;
  }
  .header {
    height: 60%;
  }
  .footer section {
    margin: 30px;
    min-width: 240px;
    line-height: 12px;
    font-size: 14px;
  }
}
