@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pur-dark: #290849;
  --pur-light: #55185D;
  --yel-dark: #ECB602;
  --yel-light: #FFD524;
  --white: #FFFFFF;
  --black: #000000;
}

.header {
  background-color: var(--pur-dark);
  width: 100%;
  height: 70%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
 
}

::-webkit-scrollbar {
  width: 0%;
}

.jackmarelli {
  height: 1.2em;
  font-size: 100px;
  font-family: 'Bebas Neue';
  letter-spacing: .3em;
  text-transform: uppercase;
  color: var(--white);
}

.quote {
  font-size: 16px;
  font-family: 'Monsterrat';
  letter-spacing: 3px;
  color: var(--pur-light);
}

.content {
  height: 100%;
}

.footer {
  background-color: var(--pur-light);
  width: 100%;
  height: 30%;
}