.carousel {
    background-color: #445159;
    height: 50vw;

    position: relative;
    z-index: 0;
    user-select: none;
}

#items {
    display: flex;
    flex-flow: row nowrap;

    overflow: hidden;
}

.carousel .item img {
    height: 100%;
    width: 100vw;
}

.carousel .arrows {
    position: absolute;
    z-index: 2;

    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0 30px;
}

.carousel .arrow {
    width: 30px;
    z-index: 3;
    cursor: pointer;
}

.carousel #right {
    transform: rotate(135deg);
}

.carousel #left {
    transform: rotate(-45deg);
}