@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
:root {
  --bg-color: #f2edd7;
  --primary-color: #755139;
  --secondary-color: #be1d1d;

  --title-font: "Climate Crisis";
  --general-font: "Figtree";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--primary-color);

  letter-spacing: -1px;
  word-spacing: 1px;
  text-decoration: none;
  cursor: none;
}

::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: left;
}

.title {
  font-family: var(--title-font);
  font-size: min(calc(100vw / 15), 4em);
  margin: 4vh 0;
}

.subtitle {
  font-family: var(--general-font);
  font-weight: 400;
  font-size: min(max(16px, calc(100vw / 40)), 1.5em);
  margin: -4vh 0 4vw 0;
}

#scroller {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  overflow: auto;
  flex-grow: 1;
  user-select: none;
}

.img-container {
  height: 100%;
}

.img-container img {
  min-width: 250px;
  width: 80vw;
  max-width: 700px;
  height: 100%;
  object-fit: cover;
}

.cta {
  margin-block: 5vh;
  font-size: 32px;
  font-family: var(--general-font);
}

.cta .cta-text {
  color: var(--secondary-color);
  position: relative;
  z-index: 20;
}

.cta .cta-text::after {
  background-color: var(--secondary-color);

  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: all 0.2s ease-in-out;
}

.cta .cta-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: all 0.2s ease-in-out;
}

#cursorDiv {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;

  transition: width 0.2s ease-out, height 0.2s ease-out;
}

.cursorDefault {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #cf2121;
}

.cursorCta {
  width: 12vh;
  height: 12vh;
  border-radius: 100%;
  background-color: #cf2121c0;
  position: relative;
}

.cursorLetsTalk {
  min-width: 2em;
  min-height: 2.7em;
  width: 2vw;
  height: 2.7vw;

  background-image: url("../assets/images/utils/hand-pointing-clicking.png");
  background-size: contain;

  transform: rotate(-30deg);
}

.cursorCta::after {
  content: "Explore";
  font-family: var(--general-font);
  color: var(--bg-color);
  font-size: 1em;

  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-5vw-x {
  margin-inline: 5vw;
}

.m-5vw-left {
  margin-left: 5vw;
}

.m-5vw-right {
  margin-right: 5vw;
}
