* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "IMB Plex Mono Regular";
  cursor: none;
  user-select: none;

}

@font-face {
  font-family: "IMB Plex Mono Regular";
  src: url(asset/font/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: "IMB Plex Mono Italic";
  src: url(asset/font/IBMPlexMono-Italic.ttf);
}

::selection {
    background-color: transparent;
    color: #000;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
}

.flair {
  width: 50vh;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: radial-gradient(circle at 50%, #fff, transparent, transparent);
  border-radius: 999px;
  filter: drop-shadow(0 0 1vh #fff);

  z-index: 1;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.text {
  position: absolute;
  z-index: 3;
  font-size: 4.5vmin;
  letter-spacing: 0px;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
}
