@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --background-color: #EBD8C8;
  --primary-color: #127678;
  --secondary-color: #4a7969;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color)
}

a {
  text-decoration: none;
  color: unset;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins", sans-serif;
  height: 2em;
  padding-inline: 1em;
  color: var(--primary-color);
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins", sans-serif;
  height: 2em;
  padding-inline: 1em;
  padding-top: 3em;
  color: var(--primary-color);
  text-transform: uppercase;
}

.content-1 {
  margin: auto;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.content-2 {
  margin: auto;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: right;
}

.content-download {
  margin: auto;
  margin-top: 3em;
  display: flex;
  align-items: center;
  width: 60%;
}

.download-button {
  background-color: var(--primary-color);
  width: 200px;
  height: 100px;
  border-radius: 59% 30% 56% 32% / 55% 44% 55% 44%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;

  font-family: "Poppins", sans-serif;
  color: var(--background-color);
}

.text {
  width: 50%;
}

.image-panel {
  width: 40%;
  display: flex;
  justify-content: center;
}
.image-panel img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.288));
}

.title {
  font-size: 5em;
  font-family: "Anton", sans-serif;
  color: var(--primary-color);
}

.parag {
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1.5px;
  color: var(--secondary-color);
}
.left {
  float: left;
}
.right {
  float: right;
}

/* - - - Animations - - - */

@keyframes slide-right {
  from {
    margin-left: -200%;
    opacity: 20%;
  }
  to {
    margin-left: 0%;
    opacity: 100%;
  }
}
@keyframes slide-left {
  from {
    margin-right: -200%;
    opacity: 20%;
  }
  to {
    margin-left: 0%;
    opacity: 100%;
  }
}
