* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

#seabg {
  background-color: #07408b; /* di backup */
  background: url("images/0_seabg.jpg") no-repeat;
  background-size: cover;

  display: flex;
  justify-content: right;
  align-items: center;
}

#whiterect {
  border: 1px solid lime;
  background-image: url("images/1_whiterect.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 398px;
  height: 628px;

  display: flex;
  justify-content: right;

  position: relative;
}

#whiterect img {
  width: 100%;
  max-width: 450px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}
