:root {
  --black: #000;
  --white: #fff;

  --primary: #f1f1f1;
  --secondary: #1c1c1c;
  --accent: #b08968;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../assets/font/NeueHaasGrotesk/NeueHaasDisplay-Roman.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Neue Haas Grotesk", sans-serif;
}

#fold {
  height: 85vh;
}

#fold-carousel {
  object-fit: cover;
  height: 40vh;
}

.navbar {
  font-size: 32px;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  cursor: pointer;
  color: var(--secondary);
  text-decoration: none;
}
a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.jm-primary {
  color: var(--primary);
}
.jm-secondary {
  color: var(--secondary);
}
.jm-secondary:hover {
  color: var(--secondary);
}
.jm-accent {
  color: var(--accent);
}
.jm-bg-primary {
  background-color: var(--primary);
}
.jm-bg-secondary {
  background-color: var(--secondary);
}
.jm-bg-secondary {
  background-color: var(--accent);
}

.my-text-justify {
  text-align: justify;
}

.work-thumbnail {
  object-fit: cover;
}

#social-icons a {
  padding: 0 24px 0 0;
}

@media (max-width: 992px) {
  #fold-carousel {
    flex-grow: 1;
  }

  .navbar img {
    scale: 0.7;
  }
}

@media (max-width: 576px) {
  .navbar {
    font-size: 18px;
  }
}
