* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.scroller {
    overflow: hidden;
    overflow-y: scroll;

    display: flex;
    flex-flow: row nowrap;

    height: 100vh;
    width: 200vw;
}

.one, .two {
    width: 100vw;
    height: 100vh;
}

.one {
    background-color: red;
}

.two {
    background-color: orange;
}