* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  z-index: 99;
  font-kerning: auto;
}

:root {
  --black: #101010;
  --white: #f1f1f1;

  --hp: 2.4vw;
}

#wrapper {
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#wrapper section {
  height: 100vh;
  position: relative;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -99 !important;
}

.parallax-image {
  overflow: hidden;
}

.content {
  z-index: 1;
  position: absolute;
  top: var(--hp);
  left: var(--hp);
  bottom: var(--hp);
  right: var(--hp);
}

.number-sepa {
  display: flex !important;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: fit-content;
  padding: var(--hp) calc(var(--hp) * 2);
}

.number-sepa img {
  height: 100%;
  width: auto;
}

.content-section {
  width: fit-content;
}

#agenda {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: start; 
}

#agenda h2 {
  font-size: 12vw;
  font-family: "Deutschlander";
  font-weight: 300;
  text-transform: uppercase ;
  letter-spacing: .1vw;
  line-height: 70%;
}

#agenda ul {
  padding: 1% 0;
  list-style: none;
}

#agenda ul li {
  display: flex;
  justify-content: start;
  align-items: end;
  height: fit-content;
  padding: 1vh 0;
}

#agenda .number {
  font-family: "Pantelegraph";
  padding: 0 var(--hp);
  font-size: 2.4vh;
  line-height: 80%;
}

#agenda .title {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 4.2vh;
  line-height: 90%;
}

#fold-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33vw;    
  white-space: wrap;
}

@media (max-aspect-ratio: 10/6) {
  .parallax-background {
    height: 100vh;
    width: auto;
  }
}

@media (max-width: 680px) {
  #fold-desc {
    width: 100%;
  }
}
