* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Helvetica", sans-serif;
}

.container {
  width: 100vw;
}

.spacer {
  height: 100vh;
  background-color: inherit;  
}

.banners {
  display: flex;
  flex-flow: column;
}

.banner {
  padding: 0 20px;
  background-color: limegreen;
  color: white;

  font-size: 10vw;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}
