* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#wrapper {
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#wrapper section {
  width: 100vw;
  height: 100vh;

  font-size: 6em;
  color: #fff;
  background-color: #000010;
  position: relative;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 120vw;
  height: auto;
}

#wrapper section:nth-child(even) {
  background-color: #292929;
}

@media (max-aspect-ratio: 10/6) {
  .parallax-background {
    height: 100vh;
    width: auto;
  }
}
